<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    <label for="workflow">Enter the initial workflow:</label><br>
    <input type="text" id="workflow" name="workflow"><br>
    <label for="error_type">Choose an error type (omission/repetition/permutation):</label><br>
    <input type="text" id="error_type" name="error_type"><br>
    <label for="level">Choose the level of erroneous actions generated:</label><br>
    <input type="number" id="level" name="level">
    <input type="submit" value="Submit">
</form>

<a href="/download">Download the output</a>

</body>
</html>