<!DOCTYPE html>
<html>
<head>
  <title>Run Workflow</title>
  <style>
    #actions {
      width: 600px;
      height: 100px;
    }
  </style>
  <script>
    window.onload = function() {
      // Check if there is any stored text
      if (localStorage.getItem('actions')) {
        document.getElementById('actions').value = localStorage.getItem('actions');
        // Clear the stored text
        localStorage.removeItem('actions');
      }
    }

    function storeText() {
      // Store the text in local storage
      localStorage.setItem('actions', document.getElementById('actions').value);
    }
  </script>
  <script>
    function copyToClipboard() {
      /* Get the text field */
      var copyText = document.getElementById("correct-workflow").value;

      /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText).then(function() {
        /* No Alert */
      }, function(err) {
        console.error('Could not copy text: ', err);
      });
    }
  </script>
</head>
<body>
<form method="POST" action="/run_workflow" onsubmit="storeText()">
  <br><h2><label for="actions">Enter workflow (A list separated by commas):</label></h2>
  This function is not available online currently. <br>
  Please follow the <a href="https://leyicui-angel.github.io/DeviatedWorkflowsGenerator/" target="_blank" rel="noopener noreferrer">instructions</a> to pull the repo and run locally. <br><br><br>
  <input type="hidden" value="['click_provider','select_billy','click_drug','enter_drug_namep1','enter_drug_namep2','click_quantity','enter_quantity','enter_medicine_num','choose_medicine_unit','enter_direction_num','choose_direction_s1','choose_direction_s2','choose_direction_s3','choose_refill_num1','add_to_medicine','save']" id="correct-workflow">
  <button type="button" onclick="copyToClipboard()">Enter Prescriptions: Copy Correct Workflow</button>
  <br><br>
  <textarea id="actions" name="actions"></textarea><br><br>
  <input type="submit" value="Run">
</form>
{% if message %}
<p>{{ message }}</p>
{% endif %}
</body>
</html>
